

.wbdCv-baseLeft{width: 270px;height:100%;float: left;background: #254665;color: #fff;padding:0px;padding-top:40px ;}
.wbdCv-baseRight{width: 550px;float: right;height: inherit;background: #fbfbfb;padding: 10px 30px 60px 30px;}

.wbdCv-baseLeft .baseItem-null{color: #fff;}
.wbdCv-baseLeft .baseItem dl,.wbdCv-baseLeft .bInfoItem dl{padding:30px 30px 0 30px;}
.wbdCv-resume .wbdCv-baseLeft .moduleItem dl dt{width: 230px;height: 60px;line-height: 34px;margin-left: -10px;padding-left: 10px;}
.wbdCv-resume .moduleItem dl dt a.wbdfont{display: none;}
.wbdCv-resume .moduleItem dl dt span div{font-size: 18px;font-weight: normal;word-break: break-all;position: relative;display: inline-block;overflow: hidden;}
.wbdCv-resume .wbdCv-baseRight .moduleItem dl dt span div{font-weight: bold;color: #454545;}
.wbdCv-resume .moduleItem dl dd{padding: 10px 0;}
.wbdCv-resume .homeItem dl dd,.wbdCv-resume .socialItem dl dd{padding: 0px;}
/**/
.wbdCv-resume .wbdCv-baseRight .moduleItem dl dt{position: relative;}
.wbdCv-resume .wbdCv-baseRight .moduleItem dl dt:before{content: "";position: absolute;height: 6px;width: 100%;background: #ccc;top: 12px;right: 0px;}
.wbdCv-resume .wbdCv-baseRight .moduleItem dl dt span{background:#fbfbfb;position: relative;z-index: 1;}

/*封面*/
.wbdCv-cover .coverItem{position: absolute;top: 854px;left: 0px;width: 360px;padding-left: 20px;color: #fff;font-size: 16px;}

/*自荐信*/
.wbdCv-letter .letterItem{line-height: 30px;color: #fff;}

/*头像*/
.wbdCv-baseStyle .headItem{margin-bottom: 0px;}

/*姓名*/
.wbdCv-baseStyle .nameItem .name-con .name,.wbdCv-baseStyle .nameItem .name-con .word{display: inline-block;}
.wbdCv-baseStyle .nameItem .name-con .name{font-size: 30px;color: #414141;padding-right: 10px;}

/*求职意向*/
.wbdCv-baseStyle .inteItem dl dt{}

/*基本信息*/
.wbdCv-baseStyle .infoItem dl dt{display: block;}
.wbdCv-baseStyle .infoItem{margin-top: 10px;}
.wbdCv-baseStyle .infoItem .info-con a.wbdfont,.homeItem .home-con a.wbdfont{width: 20px;line-height: 28px;margin-right: 5px;display: inline-block;color: #ffffff;float: left;}
.wbdCv-baseStyle .infoItem .info-con div{margin:0 0 14px 0;}
.wbdCv-baseStyle .infoItem .info-list span{width: 181px;}
.wbdCv-baseStyle .homeItem{margin-top: -5px;}
.wbdCv-baseStyle .homeItem .home-con .home-list{margin:7px 0;}
.wbdCv-baseStyle .homeItem dl{padding-top: 10px;}
/*社交账号*/
.wbdCv-baseStyle .socialItem{margin-top: -5px;}
.wbdCv-baseStyle .socialItem dl{padding-bottom: 30px;}
/*职业技能*/
.wbdCv-baseStyle .skillItem .skill-list{margin-bottom: 15px;}

/*兴趣爱好*/
.wbdCv-baseStyle .hobbyItem .hobby-list{margin: 0 30px 25px 0;}
.wbdCv-baseStyle .hobbyItem .hobby-list a.wbdfont{font-size: 28px;display: block;text-align: center;line-height:60px;width: 60px;height: 60px;border: 1px solid rgba(255,255,255,0.4);border-radius: 4px;}
.wbdCv-baseStyle .hobbyItem .hobby-list .hobby-title{width: 60px;}

/*作品集*/
.wbdCv-baseStyle .work-list{width: 239px;margin-right: 9px;border: 1px solid #e9e9e9;}
.wbdCv-baseStyle .work-list .work-img{height: 190px;overflow: hidden;width: 237px;}
.wbdCv-baseStyle .work-list .work-img img{display: block;width: 100%;}
.wbdCv-baseStyle .work-list:nth-of-type(even){margin-right: 0px;}

/*推荐信*/
.wbdCv-baseStyle .recoment-list .info{width: 414px;float: left;padding-left: 15px;padding-top: 2px;}
.wbdCv-baseStyle .recoment-list .info .name{font-size: 16px;color: #282828;font-weight: bold;width: 100%;}
.wbdCv-baseStyle .recoment-list .info span{color: #9f9f9f;}
.wbdCv-baseStyle .recoment-list .text{color: #7c7c7c;}
.wbdCv-baseStyle .recoment-list .info span.time{width: 111px;text-align: right;}
.wbdCv-baseStyle .recoment-list .info span.relation{width: 283px;}

/*颜色设置
 *.wbdCv-baseStyle[data_color="j1"],.wbdCv-baseStyle[data_color="j2"],.wbdCv-baseStyle[data_color="j3"]
  .wbdCv-baseStyle[data_color="j4"],.wbdCv-baseStyle[data_color="j5"],.wbdCv-baseStyle[data_color="j6"]
  .wbdCv-baseStyle[data_color="j7"],.wbdCv-baseStyle[data_color="j8"],.wbdCv-baseStyle[data_color="j9"]
  .wbdCv-baseStyle[data_color="j10"]
  颜色色值
  1.#0b70bd,2.#254665,3.#589bf7,4.#ff7272,5.#37b754,
  6.#292929,7.#ee7000,8.#a29177,9.#da180f,10.#6b4b24,
  11.#048BB3,12.#5974D4,13.#9D57CA,14.#d4ba38 15.#69cc41
 * */
/*
.wbdCv-baseStyle[data_color="j1"] .wbdCv-cover{background: url(img/jf/jf0001_j1.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j2"] .wbdCv-cover{background: url(img/jf/jf0001_j2.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j3"] .wbdCv-cover{background: url(img/jf/jf0001_j3.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j4"] .wbdCv-cover{background: url(img/jf/jf0001_j4.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j5"] .wbdCv-cover{background: url(img/jf/jf0001_j5.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j6"] .wbdCv-cover{background: url(img/jf/jf0001_j6.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j7"] .wbdCv-cover{background: url(img/jf/jf0001_j7.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j8"] .wbdCv-cover{background: url(img/jf/jf0001_j8.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j9"] .wbdCv-cover{background: url(img/jf/jf0001_j9.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j10"] .wbdCv-cover{background: url(img/jf/jf0001_j10.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j11"] .wbdCv-cover{background: url(img/jf/jf0001_j11.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j12"] .wbdCv-cover{background: url(img/jf/jf0001_j12.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j13"] .wbdCv-cover{background: url(img/jf/jf0001_j13.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j14"] .wbdCv-cover{background: url(img/jf/jf0001_j14.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j15"] .wbdCv-cover{background: url(img/jf/jf0001_j15.jpg) no-repeat top center;}

.wbdCv-baseStyle[data_color="j1"] .wbdCv-letter{background: url(img/zjx/zjx0008_j1.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j2"] .wbdCv-letter{background: url(img/zjx/zjx0008_j2.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j3"] .wbdCv-letter{background: url(img/zjx/zjx0008_j3.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j4"] .wbdCv-letter{background: url(img/zjx/zjx0008_j4.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j5"] .wbdCv-letter{background: url(img/zjx/zjx0008_j5.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j6"] .wbdCv-letter{background: url(img/zjx/zjx0008_j6.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j7"] .wbdCv-letter{background: url(img/zjx/zjx0008_j7.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j8"] .wbdCv-letter{background: url(img/zjx/zjx0008_j8.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j9"] .wbdCv-letter{background: url(img/zjx/zjx0008_j9.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j10"] .wbdCv-letter{background: url(img/zjx/zjx0008_j10.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j11"] .wbdCv-letter{background: url(img/zjx/zjx0008_j11.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j12"] .wbdCv-letter{background: url(img/zjx/zjx0008_j12.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j13"] .wbdCv-letter{background: url(img/zjx/zjx0008_j13.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j14"] .wbdCv-letter{background: url(img/zjx/zjx0008_j14.jpg) no-repeat top center;}
.wbdCv-baseStyle[data_color="j15"] .wbdCv-letter{background: url(img/zjx/zjx0008_j15.jpg) no-repeat top center;}
*/
.wbdCv-baseStyle[data_color="j1"] .dd-title span{color: #0b70bd;}
.wbdCv-baseStyle[data_color="j2"] .dd-title span{color: #254665;}
.wbdCv-baseStyle[data_color="j3"] .dd-title span{color: #589bf7;}
.wbdCv-baseStyle[data_color="j4"] .dd-title span{color: #ff7171;}
.wbdCv-baseStyle[data_color="j5"] .dd-title span{color: #37b754;}
.wbdCv-baseStyle[data_color="j6"] .dd-title span{color: #292929;}
.wbdCv-baseStyle[data_color="j7"] .dd-title span{color: #ee7000;}
.wbdCv-baseStyle[data_color="j8"] .dd-title span{color: #a29177;}
.wbdCv-baseStyle[data_color="j9"] .dd-title span{color: #da180f;}
.wbdCv-baseStyle[data_color="j10"] .dd-title span{color: #6b4b24;}
.wbdCv-baseStyle[data_color="j11"] .dd-title span{color: #048BB3;}
.wbdCv-baseStyle[data_color="j12"] .dd-title span{color: #5974D4;}
.wbdCv-baseStyle[data_color="j13"] .dd-title span{color: #cc7cff;}
.wbdCv-baseStyle[data_color="j14"] .dd-title span{color: #d4ba38;}
.wbdCv-baseStyle[data_color="j15"] .dd-title span{color: #69cc41;}

.wbdCv-baseStyle[data_color="j1"] .wbdCv-baseRight .moduleItem dl dt:before{background: #0b70bd;}
.wbdCv-baseStyle[data_color="j2"] .wbdCv-baseRight .moduleItem dl dt:before{background: #254665;}
.wbdCv-baseStyle[data_color="j3"] .wbdCv-baseRight .moduleItem dl dt:before{background: #589bf7;}
.wbdCv-baseStyle[data_color="j4"] .wbdCv-baseRight .moduleItem dl dt:before{background: #ff7171;}
.wbdCv-baseStyle[data_color="j5"] .wbdCv-baseRight .moduleItem dl dt:before{background: #37b754;}
.wbdCv-baseStyle[data_color="j6"] .wbdCv-baseRight .moduleItem dl dt:before{background: #292929;}
.wbdCv-baseStyle[data_color="j7"] .wbdCv-baseRight .moduleItem dl dt:before{background: #ee7000;}
.wbdCv-baseStyle[data_color="j8"] .wbdCv-baseRight .moduleItem dl dt:before{background: #a29177;}
.wbdCv-baseStyle[data_color="j9"] .wbdCv-baseRight .moduleItem dl dt:before{background: #da180f;}
.wbdCv-baseStyle[data_color="j10"] .wbdCv-baseRight .moduleItem dl dt:before{background: #6b4b24;}
.wbdCv-baseStyle[data_color="j11"] .wbdCv-baseRight .moduleItem dl dt:before{background: #048BB3;}
.wbdCv-baseStyle[data_color="j12"] .wbdCv-baseRight .moduleItem dl dt:before{background: #5974D4;}
.wbdCv-baseStyle[data_color="j13"] .wbdCv-baseRight .moduleItem dl dt:before{background: #cc7cff;}
.wbdCv-baseStyle[data_color="j14"] .wbdCv-baseRight .moduleItem dl dt:before{background: #d4ba38;}
.wbdCv-baseStyle[data_color="j15"] .wbdCv-baseRight .moduleItem dl dt:before{background: #69cc41;}


.wbdCv-baseStyle[data_color="j1"] .wbdCv-baseLeft{background: #052a46;}
.wbdCv-baseStyle[data_color="j2"] .wbdCv-baseLeft{background: #203950;}
.wbdCv-baseStyle[data_color="j3"] .wbdCv-baseLeft{background: #223a5a;}
.wbdCv-baseStyle[data_color="j4"] .wbdCv-baseLeft{background: #423232;}
.wbdCv-baseStyle[data_color="j5"] .wbdCv-baseLeft{background: #313c34;}
.wbdCv-baseStyle[data_color="j6"] .wbdCv-baseLeft{background: #292929;}
.wbdCv-baseStyle[data_color="j7"] .wbdCv-baseLeft{background: #3e2f23;}
.wbdCv-baseStyle[data_color="j8"] .wbdCv-baseLeft{background: #353027;}
.wbdCv-baseStyle[data_color="j9"] .wbdCv-baseLeft{background: #462e2d;}
.wbdCv-baseStyle[data_color="j10"] .wbdCv-baseLeft{background: #272018;}
.wbdCv-baseStyle[data_color="j11"] .wbdCv-baseLeft{background: #2c3d42;}
.wbdCv-baseStyle[data_color="j12"] .wbdCv-baseLeft{background: #292d3c;}
.wbdCv-baseStyle[data_color="j13"] .wbdCv-baseLeft{background: #3c2b46;}
.wbdCv-baseStyle[data_color="j14"] .wbdCv-baseLeft{background: #464231;}
.wbdCv-baseStyle[data_color="j15"] .wbdCv-baseLeft{background: #353e32;}

.wbdCv-baseStyle[data_color="j2"] .wbdCv-baseLeft .baseItem dl dt{background: url(img/j7_dt_bg1.png) no-repeat 0px -5px;}
.wbdCv-baseStyle[data_color="j5"] .wbdCv-baseLeft .baseItem dl dt{background: url(img/j5_dt_bg1.png) no-repeat 0px -5px;}
.wbdCv-baseStyle[data_color="j7"] .wbdCv-baseLeft .baseItem dl dt{background: url(img/j7_dt_bg1.png) no-repeat 0px -5px;}


.wbdCv-baseStyle[data_color="j1"] .wbdCv-baseLeft .infoItem dl dt{background: url(img/j1_dt_bg1.png) no-repeat 0px -5px;}
.wbdCv-baseStyle[data_color="j2"] .wbdCv-baseLeft .infoItem dl dt{background: url(img/j7_dt_bg1.png) no-repeat 0px -5px;}
.wbdCv-baseStyle[data_color="j5"] .wbdCv-baseLeft .infoItem dl dt{background: url(img/j5_dt_bg1.png) no-repeat 0px -5px;}
.wbdCv-baseStyle[data_color="j7"] .wbdCv-baseLeft .infoItem dl dt{background: url(img/j7_dt_bg1.png) no-repeat 0px -5px;}

.wbdCv-baseStyle[data_color="j1"] .wbdCv-baseLeft .skillItem dl dt{background: url(img/j7_dt_bg1.png) no-repeat 0px -5px;}
.wbdCv-baseStyle[data_color="j2"] .wbdCv-baseLeft .skillItem dl dt{background: url(img/j13_dt_bg1.png) no-repeat 0px -5px;}
.wbdCv-baseStyle[data_color="j3"] .wbdCv-baseLeft .skillItem dl dt{background: url(img/j5_dt_bg1.png) no-repeat 0px -5px;}
.wbdCv-baseStyle[data_color="j4"] .wbdCv-baseLeft .skillItem dl dt{background: url(img/j14_dt_bg1.png) no-repeat 0px -5px;}
.wbdCv-baseStyle[data_color="j5"] .wbdCv-baseLeft .skillItem dl dt{background: url(img/j3_dt_bg1.png) no-repeat 0px -5px;}
.wbdCv-baseStyle[data_color="j6"] .wbdCv-baseLeft .skillItem dl dt{background: url(img/j13_dt_bg1.png) no-repeat 0px -5px;}
.wbdCv-baseStyle[data_color="j7"] .wbdCv-baseLeft .skillItem dl dt{background: url(img/j1_dt_bg1.png) no-repeat 0px -5px;}
.wbdCv-baseStyle[data_color="j8"] .wbdCv-baseLeft .skillItem dl dt{background: url(img/j7_dt_bg1.png) no-repeat 0px -5px;}
.wbdCv-baseStyle[data_color="j9"] .wbdCv-baseLeft .skillItem dl dt{background: url(img/j14_dt_bg1.png) no-repeat 0px -5px;}
.wbdCv-baseStyle[data_color="j10"] .wbdCv-baseLeft .skillItem dl dt{background: url(img/j11_dt_bg1.png) no-repeat 0px -5px;}
.wbdCv-baseStyle[data_color="j11"] .wbdCv-baseLeft .skillItem dl dt{background: url(img/j14_dt_bg1.png) no-repeat 0px -5px;}
.wbdCv-baseStyle[data_color="j12"] .wbdCv-baseLeft .skillItem dl dt{background: url(img/j15_dt_bg1.png) no-repeat 0px -5px;}
.wbdCv-baseStyle[data_color="j13"] .wbdCv-baseLeft .skillItem dl dt{background: url(img/j1_dt_bg1.png) no-repeat 0px -5px;}
.wbdCv-baseStyle[data_color="j14"] .wbdCv-baseLeft .skillItem dl dt{background: url(img/j9_dt_bg1.png) no-repeat 0px -5px;}
.wbdCv-baseStyle[data_color="j15"] .wbdCv-baseLeft .skillItem dl dt{background: url(img/j12_dt_bg1.png) no-repeat 0px -5px;}

.wbdCv-baseStyle[data_color="j1"] .wbdCv-baseLeft .hobbyItem dl dt{background: url(img/j5_dt_bg1.png) no-repeat 0px -5px;}
.wbdCv-baseStyle[data_color="j2"] .wbdCv-baseLeft .hobbyItem dl dt{background: url(img/j15_dt_bg1.png) no-repeat 0px -5px;}
.wbdCv-baseStyle[data_color="j3"] .wbdCv-baseLeft .hobbyItem dl dt{background: url(img/j7_dt_bg1.png) no-repeat 0px -5px;}
.wbdCv-baseStyle[data_color="j4"] .wbdCv-baseLeft .hobbyItem dl dt{background: url(img/j11_dt_bg1.png) no-repeat 0px -5px;}
.wbdCv-baseStyle[data_color="j5"] .wbdCv-baseLeft .hobbyItem dl dt{background: url(img/j7_dt_bg1.png) no-repeat 0px -5px;}
.wbdCv-baseStyle[data_color="j6"] .wbdCv-baseLeft .hobbyItem dl dt{background: url(img/j11_dt_bg1.png) no-repeat 0px -5px;}
.wbdCv-baseStyle[data_color="j7"] .wbdCv-baseLeft .hobbyItem dl dt{background: url(img/j15_dt_bg1.png) no-repeat 0px -5px;}
.wbdCv-baseStyle[data_color="j8"] .wbdCv-baseLeft .hobbyItem dl dt{background: url(img/j1_dt_bg1.png) no-repeat 0px -5px;}
.wbdCv-baseStyle[data_color="j9"] .wbdCv-baseLeft .hobbyItem dl dt{background: url(img/j11_dt_bg1.png) no-repeat 0px -5px;}
.wbdCv-baseStyle[data_color="j10"] .wbdCv-baseLeft .hobbyItem dl dt{background: url(img/j7_dt_bg1.png) no-repeat 0px -5px;}
.wbdCv-baseStyle[data_color="j11"] .wbdCv-baseLeft .hobbyItem dl dt{background: url(img/j13_dt_bg1.png) no-repeat 0px -5px;}
.wbdCv-baseStyle[data_color="j12"] .wbdCv-baseLeft .hobbyItem dl dt{background: url(img/j7_dt_bg1.png) no-repeat 0px -5px;}
.wbdCv-baseStyle[data_color="j13"] .wbdCv-baseLeft .hobbyItem dl dt{background: url(img/j14_dt_bg1.png) no-repeat 0px -5px;}
.wbdCv-baseStyle[data_color="j14"] .wbdCv-baseLeft .hobbyItem dl dt{background: url(img/j11_dt_bg1.png) no-repeat 0px -5px;}
.wbdCv-baseStyle[data_color="j15"] .wbdCv-baseLeft .hobbyItem dl dt{background: url(img/j7_dt_bg1.png) no-repeat 0px -5px;}

.socialItem  dl dt{background: url(img/j4_dt_bg1.png) no-repeat 0px -5px;}